.header-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 9rem;
    height: auto;
    padding: 0 14px;
}

#menu-bar {
    position: fixed;
    right: 6px;
    width: 4rem;
    height: auto;
    padding: 0 14px;
}
